PORT=3002
NODE_ENV=development

DATABASE_URL="postgresql://kaduna:kaduna_dev@localhost:5432/kaduna_auth?schema=public"

JWT_SECRET="change_this_to_a_long_random_secret"
ACCESS_TTL="15m"
REFRESH_TTL="30d"
